Flask
cf-deployment-tracker==1.0.4
cloudant==2.4.0
dash
dash-auth
dash-renderer
dash-core-components
dash-html-components
plotly
gunicorn
knackpy
pandas==0.23.4
pandas-datareader==0.3.0.post0
numpy==1.14.1
numpydoc==0.8.0
pybase64


