Flask==0.12.2
cf-deployment-tracker==1.0.4
cloudant==2.4.0

dash
dash-auth
dash-renderer
dash-core-components
dash-html-components
plotly
gunicorn

pandas==0.19.2
pandas-datareader==0.3.0.post0
numpy==1.14.1
numpydoc==0.8.0
